<CodeSnippets xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
  <CodeSnippet Format="1.0.0" xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
    <Header>
      <Title>Storage Account Info</Title>
      <Author></Author>
      <Shortcut>StorageAccountInfo</Shortcut>
      <SnippetTypes>
        <SnippetType>Expansion</SnippetType>
      </SnippetTypes>
    </Header>
    <Snippet>
      <Code Language="xml" Delimiter="Å">
        <![CDATA[BlobEndpoint=https://[YOUR-ACCOUNTNAME].blob.core.windows.net;TableEndpoint=https://[YOUR-ACCOUNTNAME].table.core.windows.net;QueueEndpoint=https://[YOUR-ACCOUNTNAME].queue.core.windows.net;DefaultEndpointsProtocol=https;AccountName=[YOUR-ACCOUNTNAME];AccountKey=[YOUR-ACCOUNTKEY]" />]]>
      </Code>
    </Snippet>
  </CodeSnippet>
</CodeSnippets>