<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <appSettings>
    <add key="rulesFileLocation" 
         value="http://demoresources.blob.core.windows.net/ipfilters/expensereporting-techeddemo.xml" 
         xdt:Transform="Insert" />
  </appSettings>

  <system.web>
    <customErrors mode="RemoteOnly" redirectMode="ResponseRewrite" xdt:Transform="Replace">
      <error statusCode="503" redirect="~/Content/fence.htm" />
    </customErrors>
    
    <httpModules xdt:Transform="Insert">
      <add name="onlineDemoFence"
           type="Microsoft.DPE.OnlineDemoFence.OnlineDemoFenceHttpModule, Microsoft.DPE.OnlineDemoFence" />
    </httpModules>
  </system.web>

  <system.webServer>
    <modules>
      <add name="onlineDemoFence"
           type="Microsoft.DPE.OnlineDemoFence.OnlineDemoFenceHttpModule, Microsoft.DPE.OnlineDemoFence"
           xdt:Transform="Insert" />
    </modules>
  </system.webServer>

</configuration>